#wrap {
	height: 100%;
	position: relative;
	margin: 0 auto;
}

#header {
	height: 110px;
	position: relative;
	z-index: 100;
}

#header .head_con {
	width: 550px;
	height: 52px;
	padding: 18px 200px 0 250px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

#header .head_con h1 a {
	width: 265px;
	height: 38px;
	position: absolute;
	top: 20px;
	left: 0;
	/* background: url(../images/img/img_logo_cro.jpg) no-repeat 0 0; */
}

#header .m_setarea {
	background-color: #f4f4f4;
	border-bottom: 1px solid #e6e7eb;
	border-top: 1px solid #e6e7eb;
}

.m_set {
	width: 1000px;
	padding-top: 4px;
	height: 26px;
	text-align: right;
	margin: 0 auto;
}

.m_set a,.m_set a[class ^="btn_"] {
	width: auto;
	min-width: 46px;
	height: 14px;
	padding: 4px 2px 0 3px;
	border: 1px solid #cdcfd2;
	text-align: center;
	display: inline-block;
	color: #000;
	font-size: 11px;
	letter-spacing: -0.1em;
	line-height: 1.1em;
	cursor: pointer;
	text-decoration: none;
}

#container {
	width: 1000px;
	min-height: 100%;
	margin: -145px auto -120px;
	position: relative;
}

#content {
	width: 825px;
	min-height: 800px;
	padding-left: 175px;
	position: relative;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	/* background: url(../images/img/bg_footer.png) repeat 0 0; */
	height: 120px;
	width: 1000px;
	height: 44px;
	margin: 0 auto;
	text-align: center;
}

#left {
	width: 165px;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	font-weight: bold;
	font-size: 14px;
	color: #505050;
	text-align: center;
	padding: 10px 0 0 0;
	border: 1px solid #c3c3c3;
}

.content_area {
	padding: 180px 0 120px;
}

.clearfix {
	display: block;
}

.clearfix:before, .clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
line-height: 0;
}

.gnb_area {
	width: 1000px;
	height: 36px;
	margin: 0 auto;
	position: relative;
	/* background: url(../images/img/bg_header.png) repeat-x 0 bottom; */
}

.gnb_area ul {
	height: 36px;
	border-bottom: 1px solid #1682d0;
	background-color: #1688d9;
}

.gnb_area li {
	width: 12%;
	float: left;
	position: relative;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #1688d9;
	text-align: center;
	padding: 10px;
}

.gnb_area li a:hover {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

ul,li,ol {
	list-style-type: none;
}

.smallbox {
	border: 1px solid #c3c3c3;
	width: 200px;
	height: 230px;
	margin-bottom: 5px;
	margin-right: 20px;
	overflow: hidden;
	float: left;
	text-align: center;
	padding: 5px;
}

.bigbox {
	border: 0px solid #c3c3c3;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}

.imgbox {
	border: 1px solid #c3c3c3;
	width: 100%;
	height: 120px;
	margin-bottom: 20px;
}

.texttitle {
	overflow: hidden;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	color: black;
	border: 0px;
	margin-bottom: 30px;
}

.textdetail {
	float: left;
	width: 100%;
	margin-top: 5px;
}

.ico_clo {
	position: absolute;
	top: 3px;
	right: 3px;
	margin: 0 !important;
	background: url('../images/img/ico.png') no-repeat -25px -25px;
	width: 15px;
	height: 15px;
	z-index: 10;
	width: 15px;
	height: 15px;
}

.img_imgadd {
	position: relative;
	border: 1px dashed #999999;
	width: 124px;
	height: 124px;
	list-style-type: none;
	float: left;
	margin: 0 17px 5px 0;
	background: #fff url(../images/img/img_imgadd.png) no-repeat center
		center;
}

.img_file {
	position: relative;
	left: 0;
	top: 0;
	width: 124px;
	height: 124px;
	opacity: 0;
	filter: alpha(opacity :     0);
	cursor: pointer;
}

.mv_file {
	position: absolute;
	left: 0;
	top: 0;
	width: 38px;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity :   0);
}

.mv_file_a{
	position:relative;left:0;top:0; height:24px;cursor:pointer;
}

.mv_file_div {
	width: 100%;
	height: 60px;
	overflow: auto;
	border: 1px solid #c2c2c2;
	margin-top: 10px;
}

.ma_bot5 {
margin-bottom: 5px;
}


.ico_del {
background: url('../images/img/ico.png') no-repeat -25px -25px;
width: 15px;
height: 15px;
display:inline-block;
vertical-align:middle;
margin-left:3px;
margin-right:3px;
}

.tit a {text-decoration:none;}
/* -------------- 글상세보기 ------------------------------------------ */
.yellowbox	{	width:180px;font-weight:bold;color:white;font-size:15px;
				background-color:#ffaf15;padding:15px;text-align:center;
				border:1px;border-radius:5px;margin:10px;
			}


.graybox	{	width:180px;font-weight:bold;color:#c3c3c3;font-size:15px;
				;padding:15px;text-align:center;margin:10px;
				border:1px solid #c3c3c3;border-radius:5px;
			}
.questionbox	{	width:680px;
					font-weight:normal;color:black;font-size:12px;
					padding:15px;text-align:center;margin:10px;
					border:1px solid #c3c3c3;border-radius:5px;
				}

.bluebox	{background-color:#edf4f7;text-align:left;margin-top:10px;}
.innerbox	{float:left;padding:5px 25px 5px 5px;}

.toptable {	border-top:1px solid #00AEEF;
			border-bottom:1px solid gray;padding:15px 0px 0px 0px;vertical-align:middle;height:30px;} 
.toptable .tit	{color:black;font-weight:bold}

.titlebox {background-color:#edf4f7;padding-left:10px;padding-right:10px;}
.titlebox h1{color:black;font-weight:bold;font-size:25px;padding:20px 10px 20px 10px;}
.titlebox .tit	{font-weight:bold}

.attachbox	{
				width:670px;text-align:left;
				font-weight:normal;color:black;font-size:12px;
				padding:15px;margin:0 0 10px 0;
				border:1px solid #c3c3c3;border-radius:5px;
			}
.attachbox	.tit	{font-weight:bold;color:c3c3c3;padding:0px 30px 0px 0px;}
.attachbox	.fname	{color:#0000c3;padding: 3px 20px 20px 20px;background: url(../images/ico_fileAttch.png) no-repeat 0 0;}

.replybox	{border-top:2px solid gray;border-bottom:2px solid gray;width:100%;margin-bottom:15px;}
.replybox	.answer		{padding:5px 15px 5px 5px;border-bottom:1px solid #c3c3c3;width:97%;margin-bottom:10px;}
.replybox	.innerbox	{padding:5px 15px 5px 5px;}
.replybox	.link		{color:#ffba02;}
.replybox	.tit	{font-weight:bold;color:black;}
.replybox	.rereply	{padding:0px 0px 0px 50px;}

.view_post {
padding: 10px 0;
font-size: 10pt;
clear : both;
min-height: 100px;
}

.ico_fileAttch2{display:inline-block;}

.reply_post {
padding: 10px 0 0 0;
position: relative;
outline: 0px solid red;
}

.view_post .sns_imgs {padding-top:10px; text-align:center;}
.view_post .sns_imgs li {width:123px !important; height:123px !important; display:inline-block; *display:inline; *zoom:1; overflow:hidden; border:1px solid #d2d2d2; margin:5px; position:relative;}
.view_post .sns_imgs li a {width:100%; height:100%;  display:inline-block; }
.view_post .sns_imgs li img {position:absolute; top:50%; left:50%; border:0 none;}
.view_post .sns_imgs .one {width:438px !important; height:308px !important; margin:5px !important;}
.view_post .sns_imgs .two {width:218px !important; height:218px !important; margin:5px !important;}
.view_post .sns_imgs .three {width:123px !important; height:123px !important; margin:5px !important;}

/*이미지 원본보기*/
/*회색배경*/
.ui-widget-overlay.ui-front {background-color:#000; opacity:0.5; filter:alpha(opacity=50); position:fixed; height:100%; width:100%; top:0; left:0;}
/*원본팝업*/
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {position:absolute; z-index:100; border:2px solid black; background-color:black; background-image:none;}
	/*헤더*/
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {height:15px; padding:10px; cursor:move; position:relative; color:#eee; background-image:none;  background-color:black; border:0 none;}
	/*파일명*/
.ui-dialog .ui-dialog-title {width:90%; cursor:move; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; float:left; margin:-2px 0 0 0 !important; font-size:12px;}
	/*닫기버튼*/
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close { width:16px; height:16px; position:absolute; top:50%; right:5px; margin-top:-8px; background:url(../images/img/ico.png) no-repeat -21px -132px; border:0 none; cursor:pointer; }
.ui-button-icon-primary.ui-icon.ui-icon-closethick {background-image:none;}
.ui-button-text {display:none; margin:0;}
	/*컨텐츠*/
.ui-dialog-content.ui-widget-content {position:relative; border:0; padding:20px; overflow:auto; text-align:center;
scrollbar-highlight-color:#000;
scrollbar-3dlight-color:#424242;
scrollbar-face-color:#000;
scrollbar-shadow-color:#424242;
scrollbar-darkshadow-color:#000;
scrollbar-track-color:#000;
scrollbar-arrow-color:#424242;}
.ui-resizable-handle {position:absolute; font-size:0; display:block;}
.ui-resizable-n {cursor:n-resize; width:100%; height:7px; top:-5px; left:0;}
.ui-resizable-e {cursor:e-resize; width:7px; height:100%; top:0; right:-5px;}
.ui-resizable-s {cursor:s-resize; width:100%; height:7px; bottom:-5px; left:0;}
.ui-resizable-w {cursor:w-resize; width:7px; height:100%; top:0; left:-5px;}
.ui-dialog .ui-resizable-se {cursor:se-resize; width:12px; height:12px; right:-5px; bottom:-5px;} 
.ui-dialog .ui-resizable-sw {cursor:sw-resize; width:9px; height:9px; left:-5px; bottom:-5px;} 
.ui-dialog .ui-resizable-ne {cursor:ne-resize; width:9px; height:9px; right:-5px; top:-5px;} 
.ui-dialog .ui-resizable-nw {cursor:nw-resize; width:9px; height:9px; left:-5px; top:-5px;} 



textarea {resize:none;}
/* -------------- 글상세보기 ------------------------------------------ */

/* -------------- 이미지동영상 이전다음 ------------------------------------------ */
.page_vod {
position: relative;
height: 215px;
margin: 0 auto;
padding-top: 15px !important;
border-top: 2px solid #bfbfbf !important;
border-bottom: 1px solid #d9d9d9 !important;
}

.page_vod .btn_prev {
width: 16px;
height: 36px;
position: absolute;
top: 60px;
left: 10px;
background: url(../images/img/ico.png) no-repeat 0 -315px;
}

.page_vod .btn_next {
width: 16px;
height: 36px;
position: absolute;
top: 60px;
right: 10px;
background: url(../images/img/ico.png) no-repeat -25px -315px;
}

.page_vod .page_list {
text-align: center;
}

page_vod .page_list li {
display: inline-block;
width: 30%;
}

.page_list li {
list-style-type: none;
}
.ver_top {
vertical-align: top !important;
}

.box_vod {
width: 185px;
margin: 0 auto !important;
color: #666;
}

.te_center {
text-align: center !important;
}

.box_vod .pho_tit {
width: 180px;
font-size: 12px;
font-weight: bold;
margin-top: 10px;
padding-left: 4px;
line-height: 16px;
}

.box_vod .pho_tit span {
text-align:left;
vertical-align:middle;
}


.bl_pho {
display: inline-block;
background: url(../images/img/bl_title.png) no-repeat 0 -350px;
}

.bl_pho, .bl_vod {
width: 13px;
height: 12px;
}

.te_dot {
width: auto;
max-width: 80%;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
display: inline-block;
padding-right: 2px;
padding-left: 2px;
}

.fo_replyn {
color: #4375bf !important;
font-size: 11px;
margin-left: 5px;
}

.box_vod .name {
margin: 6px 0 3px 4px;
font-size: 12px;
}

.box_vod .fo_byte {
line-height: 12px;
margin-left: 4px;
font-size: 11px;
color: #999 !important;
}

.page_vod .page_list li {
display: inline-block;
width: 30%;
}

.box_vod img:hover, .box_vod img.on {
border: 1px solid #4375bf;
}

.box_vod img {
width: 185px;
height: 104px;
border: 3px solid #fff;
}

/* -------------- 이미지동영상 이전다음 ------------------------------------------ */

/* ------------------- popup -------------------- */

.pop_wrap {
position: absolute;
border: 1px solid #666;
position: relative;
background-color: white;
}

.pop_wrap .pop_header {
height: 21px;
padding: 7px 0 0 15px;
color: #fff;
font-weight: bold;
background: #598aa7 url(../images/img/bg_phead.png) repeat-x 0 0;
border-bottom: 1px solid #598aa7;
}

.pop_wrap .pop_content {
position: relative;
padding: 15px 15px 0 15px;
margin-bottom: 54px;
}

.pop_wrap .pop_footer {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
margin-bottom: 10px;
}


.pop_wrap .pop_content .p_left {
width: 49%;
margin-right: 6px;
min-height: 100%;
float: left;
}

.pop_wrap .pop_content .p_right {
width: 49%;
float: right;
}

.pop_wrap .pop_content .search_area2, .gr_sch .search_area2 {
padding-top: 10px;
padding-bottom: 9px;
margin-bottom: 15px;
}

.pop_wrap .pop_content .tree {
height: 341px;
overflow-y: scroll;
}

/* ------------------- popup -------------------- */


